@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css"/>
    <title>RsvpForm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Imię i nazwisko: @Html.TextBoxFor(m => m.Name)</p>
        <p>Twój e-mail: @Html.TextBoxFor(m => m.Email)</p>
        <p>Twój telefon: @Html.TextBoxFor(m => m.Phone)</p>
        <p>
            Czy przyjdziesz na przyjęcie?
            @Html.DropDownListFor(m => m.WillAttend,
                                new[] {
                                    new SelectListItem() { Text = "Tak, przyjdę", Value = bool.TrueString },
                                    new SelectListItem(){Text="Nie, nie przyjdę",Value=bool.FalseString}
                                }, "Wybierz opcję")
        </p>
        <input type="submit" value="Wyślij RSVP" />
    }
</body>
</html>
